*,
*::before,
*::after {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
    font-size: 62.5%;
    font-family: Oswald;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}